__pycache__/
__init__.py/
*.py[cod]
backend/data/
/node_modules/
*node_modules
.backend/venv
# Pytest cache
.cache
/backend_OLD_20250628_124113
/backend/production_ready_setup.sh
backend/app/config/__init__.py
/*.sh
*.json
/*.json
