POSTGRES_DB=argfy
POSTGRES_USER=argfy
POSTGRES_PASSWORD=<generar con `openssl rand -base64 32`>
SECRET_KEY=<openssl rand -hex 32>
JWT_SECRET=<openssl rand -hex 32>
MP_ACCESS_TOKEN=APP_USR-xxxx
MP_WEBHOOK_SECRET=<openssl rand -hex 24>
GOOGLE_CLIENT_ID=xxx.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=GOCSPX-xxx
SENTRY_DSN=https://xxx@sentry.io/xxx
